.vertex {
    fill: Gainsboro;
    stroke: black;
}

.violatorVertex {
    fill: LightCoral;
    stroke: red;
}

.criticalVertex {
    fill: Gold;
    stroke: Goldenrod;
}

.edge {
    stroke-width: 3px;
    stroke: Silver;
    fill: None;
}

.violatorEdge {
    stroke-width: 3px;
    stroke: LightCoral;
}

.criticalEdge {
    stroke-width: 3px;
    stroke: Gold;
    fill: None;
}

.face {
    stroke: none;
    fill: Gainsboro;
}

.violatorFace {
    stroke: none;
    fill: LightCoral;
}

.criticalFace {
    stroke: none;
    fill: Khaki;
}

.nonCriticalVertex {
    fill: DarkSeaGreen;
    stroke: green;
}

.nonCriticalEdge {
    stroke-width: 3px;
    stroke: DarkSeaGreen;
    fill: None
}

.criticalCombination {
    stroke-width: 3px;
    stroke: Gold;
    fill: Khaki;
}

.arrowHead {
    fill: MediumSeaGreen;
}

.arrowBody {
    stroke-width: 3px;
    stroke: MediumSeaGreen;
    fill: None;
}

ul li{
    font-size: 0.5em;
    list-style-type:none;
}

p {
    font-size: 1.2em;
}