.vertex {
    fill: Gainsboro;
    stroke: black;
}

.violatorVertex {
    fill: LightCoral;
    stroke: red;
}

.criticalVertex {
    fill: Gold;
    stroke: Goldenrod;
}

.nonCriticalVertex {
    fill: DarkSeaGreen;
    stroke: green;
}

.edge {
    stroke-width: 3px;
    stroke: Silver;
}

.violatorEdge {
    stroke-width: 3px;
    stroke: LightCoral;
}

.criticalEdge {
    stroke-width: 3px;
    stroke: Gold;
}

.nonCriticalEdge {
    stroke-width: 3px;
    stroke: DarkSeaGreen;
}

.face {
    stroke: none;
    fill: Gainsboro;
}

.violatorFace {
    stroke: none;
    fill: LightCoral;
}

.criticalFace {
    stroke: none;
    fill: Khaki;
}